<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/vue3';
defineProps({
    balance: {
        type: Number,
    }
}
)
</script>
<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>


        <div class="flex items-center justify-center mx-auto max-w-md mt-6 p-6 bg-white rounded-lg shadow-md">
            <div class="w-full">
                <div class="text-center">
                    <h1 class="text-2xl font-semibold text-gray-900">Welcome, {{ balance }}</h1>
                    <p class="mt-2 text-sm text-gray-600">
                        This is a simple example of a user dashboard.
                    </p>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
